language: php

matrix:
  allow_failures:
    - php: hhvm
      env: PHP_VERSION=7.0.1
    - php: nightly
  include:
    - php: 5.6
    - php: 7.2
    - php: 7.3
    - php: 7.4
    - php: nightly

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - phpunit -c tests/build.xml

notifications:
  on_success: never
  on_failure: always